@use "./lightColors";

div {
  color: lightColors.$primary;
  background-color: lightColors.$primary-light;
  .box {
    color: lightColors.$secondary;
    background-color: lightColors.$secondary-light;
  }
}
